@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a97100;
}

.text {
  margin-bottom: 200px;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #403b4a 0%,
    #e7e9bb 51%,
    #403b4a 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #f8f5f5;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
}
.highlight {
  background: linear-gradient(90deg, #6e561d, #dba207);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
}
.hrnv-section {
  background-image: url(Images/mario-gogh-VBLHICVh-lI-unsplash\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}
.hero__section {
  animation: fadeUp 2s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero__section p {
  font-weight: bold;
  text-align: center;
  color: #f8f5f5;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}

.getstarted {
  background-image: linear-gradient(
    to right,
    #403b4a 0%,
    #e7e9bb 51%,
    #403b4a 100%
  );
}

.getstarted {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  transform: translateY(-100px);
}

.getstarted:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.features {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.icon {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 200px;
}

h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin-bottom: 10px;
}



/* Phones */
@media (max-width: 600px){
  header{
    padding: 10px 4%;
  }


  .features  {
    flex-direction: column;
    align-items: center;
  }

  h1,h2{
    font-size: 20px;
    line-height: 30px;
  }
  p{
    font-size: 60%;
  }

  .btn-grad{
    font-size: 11px;
    padding: 11px 14px;
  }

  .getstarted{
    font-size: 15px;
    padding: 15px 15px;
  }
}



/* Tablets */
@media (max-width: 1024px){
  h1,h2{
    font-size: 40px;
    line-height: 50px;
  }
}