@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
html{
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, #0d0d0d 0%, #330867 100%);
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;  
  margin: 0;  
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #f8f5f5;
  font-family: "Montserrat", sans-serif;
  line-height: 80px;
}
.highlight {
  background:linear-gradient(90deg,#00e0ff,#00ffa6);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
}
.hero__section{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}
.hero__section p {
  font-weight: bold;
  text-align: center;
  color: #f8f5f5;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}


.getstarted {
  background-image: linear-gradient(to right, #003973 0%, #E5E5BE 51%, #003973 100%);
}

.getstarted {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.getstarted:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
